body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.resume {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h3, h2 {
    text-align: center;
    color: #333;
}

h2.editable-title {
    font-size: 20px;
    font-weight: bold;
}

.editable {
    outline: none;
}

.editable:focus {
    border-bottom: 2px solid #007BFF;
}
